<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, asperiores repellat! Eveniet incidunt porro laudantium beatae iusto alias odit quasi sed consequatur doloremque vel, dolore ea, vero nobis mollitia voluptatum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ducimus molestiae quae delectus ipsum nam. Molestias corrupti animi aut suscipit dolorum, provident hic labore maiores fugiat officia quibusdam totam nostrum.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus unde qui, pariatur voluptatibus provident aut tempore deleniti et, magnam quasi iusto a harum perferendis, tempora doloremque praesentium cupiditate voluptates id?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>